* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    color: black;
    background-size: cover;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.containerpai {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: 40em;
    height: 30em;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.ladodireito {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: 'Fraunces', serif;
    margin-left: 30px;
}

.perfume{
    letter-spacing: 0.4em;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 0.8em;
}

h1 {
    font-weight: 700;
    font-size: 2.2em;
    line-height: 0.9em;
    margin-top: 25px;
    margin-right: 1em;
}

.description{
    margin-top: 25px;
    margin-right: 45px;
    margin-left: 30px;
    line-height: 1.7em;
    font-size: 0.95em;
}

h2 {
    color: hsl(158, 36%, 37%);
    font-size: 2.2em;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

h2 del {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.4em;
    font-weight: 500;
    margin-left: 30px;
}

.botao{
    background-color: hsl(158, 36%, 37%);
    text-decoration: none;
    width: 16em;
    height: 3em;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 768px){

    .containerpai {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        width: 30em;
        height: 50em;
        margin: auto;
        border-radius: 20px;
        background-color: white;
        overflow: hidden;
    }

    .imagem {
        display: flex;
        width: auto;
        height: 21em;
    }

    .perfume{
        margin-top: 30px;
        font-size: 1em;
    }

    h1 {
        font-size: 2.7em;
    }

    .description{
        font-size: 1.2em;
        margin-top: 20px;
    }

    h2 {
        color: hsl(158, 36%, 37%);
        font-size: 2.2em;
        margin-top: 20px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    
    .botao{
        width: 26em;
        height: 4em;
    }
    
    
}
@media screen and (min-width: 768px){
    
.botao:hover {
    cursor: pointer;
    background-color: hsl(212, 21%, 14%);
}

}
